<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @citizen.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @citizen.cpf %>
</p>

<p>
  <strong>Cns:</strong>
  <%= @citizen.cns %>
</p>

<p>
  <strong>Email:</strong>
  <%= @citizen.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @citizen.birth_date %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @citizen.telephone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @citizen.status %>
</p>

<p>
  <strong>Photo:</strong>
  <% if @citizen.photo.attached? %>
    <%= image_tag @citizen.photo, width: '25%' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>
