<p id="notice"><%= notice %></p>

<p>
  <strong>Cep:</strong>
  <%= @address.CEP %>
</p>

<p>
  <strong>Public place:</strong>
  <%= @address.public_place %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @address.complement %>
</p>

<p>
  <strong>District:</strong>
  <%= @address.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @address.UF %>
</p>

<p>
  <strong>Ibge code:</strong>
  <%= @address.IBGE_code %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @address.citizen_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
